{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <h2>👋 Bienvenue !</h2>
    <p>{{ message }}</p>
    <p>Tu peux maintenant commencer à développer ton application Symfony.</p>
{% endblock %}
